
// bower:scss
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/font-awesome/scss/font-awesome";
// endbower

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -30px;
}
.footer, .push {
  height: 30px;
}

.encryption {
  margin: 25px 0;
}
.heading {
  margin-top: 5px;
}

/* inject:scss */
@import "../src/pages/about/about.scss";
/* endinject */
