
// bower:scss
@import "app/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -30px;
}
.footer, .push {
  height: 30px;
}

.encryption {
  margin: 25px 0;
}
.heading {
  margin-top: 5px;
}
